<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <h1>Pet Treatment Details Management System</h1>
    <hr>
    <h2>Update Pet Treatment Details</h2>

    <form action="#" th:action="@{/petTreatment/updateTreatmentRecord/{id}(id=${petTreatment.id})}" th:object="${petTreatment}"
          method="POST">
<table style="width:80%" border="1"
      class = "table table-striped table-responsive-md">
  <thead>
  <tr>
    <th>ID</th>
    <th>ownerId</th>
    <th>pet_type_id</th>
    <th>length_in_cm</th>
    <th>weight_kg</th>
    <th>Cost</th>
    <th>Treatment</th>
  </tr>
  </thead>
        <!-- Add hidden form field to handle update -->
  <tbody>
     <tr>
       <td>  <input disabled  name="ID" th:field="*{id}" /> </td>
       <td>  <input type="number" th:field="*{ownerId}" class="form-control mb-4 col-4"> </td>
       <td>  <input type="number" th:field="*{pet_type_id}" class="form-control mb-4 col-4"> </td>
       <td>  <input type="number" th:field="*{length_in_cm}" class="form-control mb-4 col-4"> </td>
       <td>  <input type="number" th:field="*{weight_kg}" class="form-control mb-4 col-4"> </td>
       <td>  <input type="number" th:field="*{cost}" class="form-control mb-4 col-4"> </td>
       <td>   <input type="text" th:field="*{treatment}" class="form-control mb-4 col-4"> </td>

     </tr>
     <button type="submit" class="btn btn-info col-2"> Update Pet Treatment Details</button>
  </tbody>

</table>
    </form>

    <hr>

    <a th:href = "@{/petTreatment/allTreatmentRecords}"> Back to Pet treatment Detail Reports </a>
</div>
</body>
</html>
